.s-favorites {
    display: flex;
    justify-content: center;
    background-color: #000;
    padding: 50px 0;
}

.s-favorites article {
    height: 100%;
    min-width: 500px;
    padding: 20px;
    border: 1px solid #dddddd;
}

.s-favorites article h2 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    color: #fff;
}

.favorites {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #fff;
}

.favorites span {
    color: #fff;
    font-size: 20px;
    max-width: 200px;
}

.details {
    color: #F70000;
    margin-right: 10px;
}

.delete {
    background-color: #F70000;
    padding: 10px;
    border: 1px solid #000;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.delete:hover {
    background-color: transparent;
    border: 1px solid #F70000;
}




.none {
    display: block;
    text-align: center;
    color: #F70000;
    font-size: 25px;
}


@media(max-width: 550px) {
    .s-favorites {
        padding: 100px 0;
        
    }

    .s-favorites article {
        min-width: 390px;
    }

    .s-favorites article h2 {
        font-size: 30px;
    }

    .none {
        font-size: 23px;
    }

    .favorites span {
        font-size: 17px;
    }

    .details {
        font-size: 14px;
    }

}